a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

input,
button,
select,
textarea {
  outline: none
}

textarea {
  resize: none
}

body,
html {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


/*手机端 不显示 A标签阴影*/

body,
div,
a,
span,
ul,
li,
img,
div:after,
div:before,
a:after,
a:before,
span:after,
span:before,
ul:after,
ul:before,
li:after,
li:before,
img:after,
img:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  -moz-user-select: -moz-none;
  -webkit-overflow-scrolling: touch;
}

@-webkit-keyframes bs {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bs {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bs1 {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bs1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate360Back {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes rotate360Back {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes toUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@keyframes toUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes rotateInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}

@keyframes rotateInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
    transform: scale(0) rotate(360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(-10deg);
    transform: scale(1.1) rotate(-10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes rotateInBackF {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}

@keyframes rotateInBackF {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-360deg);
    transform: scale(0) rotate(-360deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(10deg);
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes rotateY360 {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  80% {
    -webkit-transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@keyframes rotateY360 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  80% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}


/*全局设置*/

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

span[id*="cnzz_stat"] {
  display: none;
}

.none {
  display: none !important;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

i {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

audio {
  display: none;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute;
  left: 0px;
  top: 0px;
}

@mixin center {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
