<div class="content">
  <div class="left">
    {{each list}}
      {{if $index === 0 || $index === 1 || $index === 2}}
      <div class="item">
        <div class="headimgurl" style="background-image:url('{{$value.headimgurl}}')"></div>
        <div class="nickname ellipsis">{{$value.nickname}}</div>
        <div class="score">{{$value.score}}</div>
      </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="right">
    {{each list}}
      {{if $index !== 0 && $index !== 1 && $index !== 2}}
      <div class="item">
        <div class="index">{{$index + 1}}</div>
        <div class="headimgurl" style="background-image:url('{{$value.headimgurl}}')"></div>
        <div class="nickname ellipsis">{{$value.nickname}}</div>
        <div class="score">{{$value.score}}</div>
      </div>
      {{/if}}
    {{/each}}
    <div class="item arrow"></div>
  </div>
</div>
